    @keyframes shadow_style{
        0% {
            filter: drop-shadow(0 0 10px gold);
        }

        25% {
            filter: drop-shadow(0 0 30px aqua);
        }
        50% {
            filter: drop-shadow(0 0 50px aquamarine);
        }

        75% {
            filter: drop-shadow(0 0 30px aqua);
        }

        100% {
            filter: drop-shadow(0 0 10px gold);
        }

    }
    
    .cardwrapper {
        display: grid;
        place-items: center;

        & .outer {
            display: grid;
            place-items: center;
            position: relative;
            margin: var(--space-md) 0;
            height: calc(2.5 * var(--gear-radius));
            width: calc(2.5 * var(--gear-radius));
            border-radius: 100%;
            color: var(--white);
            transition: 0.4s;
            animation: 10s linear infinite shadow_style;
    
            
    
            & .title {
                position: absolute;
                padding: var(--space-md); 
                font-weight: bold;
                font-size: var(--heading1);
                transition: 0.4s;
                
            }
    
            & .subtitle {
                position: absolute;
                font-size: var(--heading2);
                font-weight: bold;
                transform: scale(0);  
                transition: 0.4s;

                & li {
                    margin-top: var(--space-xs);  //bottomだと、下のセレクタだ上を押す形になるので、上にズレる。
                }
            }
    
        }
    }




    @media (hover: hover) {
        .outer {
            place-items: start center;

            &:hover {
                width: 100%;
                height: calc(3.5 * var(--gear-radius));
                border-radius: 0%;

                & .title {
                    font-weight: bold;
                    font-size: var(--heading1);
                    transition: 0.4s;
                    transform: scale(0);
                    transition-delay: 0.2s;
        
                }
        
                & .subtitle {
                    font-size: var(--heading2);
                    padding: var(--space-md);
                    font-weight: 600;
                    transition: 0.4s;
                    transform: scale(1);
                    transition-delay: 0.2s;

                    max-height: calc(3.5 * var(--gear-radius)); //親要素の高さ
                    overflow-y: auto; //親要素より大きくなったらスクロール可能にする
                }
            }
        }

    }


    @media (hover:none) {

        .cardwrapper{

            & .outer {
                width: 100%;
                position: relative;
                border-radius: 0%;
                place-items: start center;

                & .title {
                    position: absolute;
                    transform: scale(0);
                    
                }
        
                & .subtitle {
                    position: absolute;
                    font-size: var(--body);
                    padding: var(--space-md);
                    font-weight: 600;
                    transition: 0.4s;
                    transform: scale(1);

                    max-height: calc(2.5 * var(--gear-radius));
                    overflow-y: auto;
                }
            }
        }

    }
