    .cardwrapper {
        display: grid;
        place-items: center;
    
        & .outer {
            display: grid;
            place-items: center;
            position: relative;
            margin: var(--space-xs) 0;
            height: calc(2 * var(--gear-radius));
            width: calc(2 * var(--gear-radius));
            border-radius: 100%;
            filter: drop-shadow(0 0 20px aqua);
            color: var(--white);
            transition: 0.4s;
    
    
            & .title {
                position: absolute;
                font-weight: bold;
                font-size: var(--heading1);

    
            }
    
            & .subtitle {
                position: absolute;
                font-size: var(--heading2);
                font-weight: bold;
                transform: scale(0);    

                & li {
                    margin-top: var(--space-md);  //bottomだと、下のセレクタだ上を押す形になるので、上にズレる。
                }
            }
    
        }
    }




    @media (hover: hover) {
        .outer {

            &:hover {
                width: 100%;
                height: calc(3 * var(--gear-radius));
                border-radius: 0%;

                & .title {
                    position: absolute;
                    font-weight: bold;
                    font-size: var(--heading1);
                    transition: 0.4s;
                    transform: scale(0);
        
                }
        
                & .subtitle {
                    position: absolute;
                    font-size: var(--heading2);
                    font-weight: 600;
                    transition: 0.4s;
                    transform: scale(1);
                }
            }
        }

    }
    
    @media (hover: none) {

        .outer {

            &:active {
                width: 100%;
                height: calc(3 * var(--gear-radius));
                border-radius: 0%;

                & .title {
                    position: absolute;
                    font-weight: bold;
                    font-size: var(--heading1);
                    transition: 0.4s;
                    transform: scale(0);
        
                }
        
                & .subtitle {
                    position: absolute;
                    font-size: var(--heading2);
                    font-weight: 600;
                    transition: 0.4s;
                    transform: scale(1);
                }
            }
        }

    }