.postcontainer > * + * {
    margin-bottom: var(--space-xs);
}

.postcontainer {
    & .title {
        margin-top: var(--space-xs);
        font-size: var(--heading2);
    }

    & img {
        width: 100%;
        height: 100%;
    }
}